/* Login Modal */
.modal-content{
	width: 450px;
	height: fit-content;
	border-radius: 15px;
}	
	.modal-header .close {
		width: 60px;
		height: 60px;
	}
	.modal-header .close .close-btn{
		font-size: 50px;
	}
	.modal-body {
		top: -30px;
		width: 80%;
	}
	.modal-body img{
		height: 150px;
	}
	.modal-body h2{
		color: #333;
		font-size: 2.9rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	.modal-body .btn {
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		border-radius: 8px;
		background-color: #f44336 !important;
		width: fit-content;
		text-decoration: none;
		color: #ffffff;
		font-size: 16px;
	}
	.modal-body .input-div{
		margin-top: 30px;
		border-bottom: 2px solid #d9d9d9;
		position: relative;
	}
	.modal-body .input-div.one{
		margin-top: 0;
	}	
	.modal-body .input-div .i{
		color: #d9d9d9;
		padding-left: 10px;
		padding-right: 20px;
	}	
	.modal-body .input-div:after{
		left: 0;
        right: 0;
		height: 2px;
		margin: 0 auto;
		position: absolute;
		background-color: #f44336;
		border-radius: 15px;
		transition: .4s;
		z-index: 1;
	}	
	.modal-body .input-div:hover:after{
		width: 100%;
		overflow: hidden;
	}	
	.modal-body .input-div:hover > .i > i{
		color: #f44336;
	}
	.modal-body .input-div:hover > .input-element > input::placeholder {
		color: #f44336;
	}
	
	.modal-body .input-div .input-element input::placeholder{
		border: 0px solid;
		outline: none;
		color: #999;
		font-family: 'poppins', sans-serif;
	}
	.alert .close {
		margin-top: 0px;
	}