* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
*::selection {
    color: #d6d6d6;
    background-color:#ad382f8c;
}
h1, h2, h3, h4, a {
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    height: 100vh;
    position: relative;
    overflow-x:hidden;
}