<div class="container contact">
    <div class="container-fluid presentation px-0">
        <div class="container g-0">
            <div class="row jumbotron text-center justify-content-center align-items-center">
                <h1>Get in Touch</h1>
                <div class="col-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id tempor augue, non consequat
                        magna. Donec non massa libero.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container contact-methods">
        <div class="row">
            <div class="container col-sm-8">
                <form name="signupForm" class="justify-content-center align-items-center mx-3">

                    <div class="form-group mt-3">
                        <div class="row input-div">
                            <div class="i" style="width: 10%;">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="input-element" style="width: 90%;">
                                <input type="text" name="full_name" ng-model="client.fullName" ng-required="true"
                                    ng-minlength="3" ng-maxlength="40" class="input w-100" placeholder="Full Name">
                            </div>
                        </div>
                    </div>
                    <div ng-messages="signupForm.full_name.$error" ng-if="signupForm.full_name.$dirty">
                        <div ng-message="required" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Please enter a Name</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div ng-message="minlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Minimum lenght of 3 characters</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="tru></i>e">&times;</span>
                            </button>
                        </div>
                        <div ng-message="maxlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Maximum lenght of 40 characters</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <div class="row input-div">
                            <div class="i" style="width: 10%;">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="input-element" style="width: 90%;">
                                <input type="text" name="email" ng-model="client.email" ng-required="true"
                                    ng-minlength="10" ng-maxlength="40" class="input w-100" placeholder="E-mail">
                            </div>
                        </div>
                    </div>
                    <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$dirty">
                        <div ng-message="required" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Please enter an E-mail</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div ng-message="minlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Minimum lenght of 10 characters</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div ng-message="maxlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Maximum lenght of 40 characters</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <div class="row input-div">
                            <div class="input-element input-title w-100">
                                <input type="text" name="title-message" ng-required="true" ng-minlength="3"
                                    ng-maxlength="80" class="input w-100" placeholder="Topic of the Messege">
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <div class="row input-div">
                            <div class="input-element input-title w-100">
                                <textarea name="message" ng-required="true" ng-minlength="20" ng-maxlength="80"
                                    class="form-control w-100" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-row justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid"
                            ng-click="createClient(client)" data-dismiss="modal">Submit</button>
                    </div>

                </form>
            </div>
            <div class="container separator-container d-flex align-items-center justify-content-around col-auto">
                <div class="separator-line mx-auto"></div>
            </div>
            <div class="container d-flex flex-column justify-content-around align-items-center col-sm-3">
                <a href=""><img width="120px" height="30px"
                        src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white&logoWidth=24"
                        alt=""></a>
                <a href=""><img width="120px" height="30px"
                        src="https://img.shields.io/badge/Facebook-1877F2?style=for-the-badge&logo=facebook&logoColor=white&logoWidth=24"
                        alt=""></a>
                <a href=""><img width="120px" height="30px"
                        src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white&logoWidth=24"
                        alt=""></a>
                <a href=""><img width="120px" height="30px"
                        src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white&logoWidth=24"
                        alt=""></a>
                <a href=""><img width="120px" height="30px"
                        src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white&logoWidth=24"
                        alt=""></a>
            </div>
        </div>
    </div>
</div>